<div class="panel panel-primary panel-default">
  <div class="panel-heading">
    <div class="pull-left" style="font-size: 1.5em;">
      Arrest Data View
    </div>

    <button class="btn btn-default pull-right">Max</button>
    <div class="clearfix"></div>
  </div>
  <div class="panel-body" style="height: 40vh;overflow-y: scroll;">
    <table class="table table-bordered">
      <thead>
      <tr>
        <th>Data</th>
        <th>Name</th>
        <th>Offense</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let arrest of arrestData">
        <td>{{arrest.arrest_date}}</td>
        <td>{{arrest.first_name}} {{arrest.last_name}}</td>
        <td>{{arrest.offense}}</td>
      </tr>
      </tbody>
    </table>


  </div>
</div>

