<div class="panel panel-success panel-default">
  <div class="panel-heading">
    <div class="pull-left" style="font-size: 1.5em;">
      Pie View
    </div>

    <button class="btn btn-default pull-right">Max</button>
    <div class="clearfix"></div>
  </div>
  <div class="panel-body" style="height: 40vh;overflow-y: scroll;">
    <!--StartDate: <br />-->
    <!--Month: {{startDate.month}} Day: {{startDate.day}} Year: {{startDate.year}}-->
    <!--<br />-->
    <!--EndDate: <br />-->
    <!--Month: {{endDate.month}} Day: {{endDate.day}} Year: {{endDate.year}}-->

    <!--<div class="chart"-->
         <!--chart-->
         <!--[data]="data"-->
         <!--[options]="options"-->
         <!--[labels]="labels"-->
         <!--[columnTypes]="columnTypes"-->
         <!--[chartType]="chartType">-->
    <!--</div>-->
    <div style="width: 100%; height: 100%">
      <div id="pie_chart" [chartData]="pie_ChartData" [chartOptions]="pie_ChartOptions" chartType="PieChart" GoogleChart></div>
    </div>
  </div>
</div>

