<div class="panel panel-default">
  <div class="panel-heading">
    <!--<div class="pull-left" style="font-size: 1.5em;">-->
      <!--Pie View-->
    <!--</div>-->
    <button class="btn btn-default pull-right" (click)="lgPieModal.show()">Max</button>
    <div class="clearfix"></div>
  </div>
  <div class="panel-body" style="height: 40vh;overflow-y: scroll;">
    <div style="width: 100%; height: 100%">
      <div id="pie_chart" [chartData]="pie_ChartData" [chartOptions]="pie_ChartOptions" chartType="PieChart" GoogleChart></div>
    </div>
  </div>
</div>

<div bsModal #lgPieModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true" >
  <div class="modal-dialog" >
    <div class="modal-content">
      <div class="modal-header">
        <!--<h4 class="modal-title pull-left">Large Pie View</h4>-->
        <button type="button" class="close pull-right" (click)="lgPieModal.hide()" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="panel panel-default">
          <div class="panel-heading">
            <div class="clearfix"></div>
          </div>
          <div class="panel-body" style="height: 80vh;overflow-y: scroll;">
            <div style="width: 100%; height: 100%" align="center">
              <div id="pie_chartLG" [chartData]="pie_ChartData" [chartOptions]="pie_ChartOptionsLG" chartType="PieChart" GoogleChart></div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
