/* You can add global styles to this file, and also import other style files */

body{
  background-color: #f7f7f7 !important;
  margin: 0 0 100px;
  /* bottom = footer height */
}

html {
  position: relative;
  min-height: 100%;
}
