<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" rel="home" href="#" title="C-COP">
        <img style="max-width:50px; margin-top: -7px;"
             src="./assets/img/trinityLogoHorizontal.png">
      </a>
      <a class="navbar-brand" href="#">C-COP</a>
    </div>
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li>
          <p class="navbar-btn pull-right">
            <a class="btn btn-default" data-toggle="collapse" href="#collapseFilters" aria-expanded="false" aria-controls="collapseFilters">View Filters</a>
          </p>
        </li>
      </ul>
    </div>
  </div>
</nav>

<div class="collapse" id="collapseFilters">
  <div class="controlContainer">
    <div class="row">
      <div class="col-md-1"></div>
      <div class="col-md-10">
        <div class="row">
          <h5>Global Filters</h5>
          <div class="col-md-3">
            <my-date-range-picker name="mydaterange" [options]="myDateRangePickerOptions" [(ngModel)]="model" required>
            </my-date-range-picker>
          </div>
          <div class="col-md-3">
            Start Time: <br />
            <timepicker [(ngModel)]="startTime"></timepicker>
          </div>
          <div class="col-md-3">
            End Time: <br />
            <timepicker [(ngModel)]="endTime"></timepicker>
          </div>
          <div class="col-md-3">
            <!--<div class="dropdown">-->
              <!--<button class="btn btn-primary btn-block dropdown-toggle" type="button" data-toggle="dropdown">Narrative / Offense-->
                <!--<span class="caret"></span></button>-->
              <!--<ul class="dropdown-menu">-->
                <!--<li><a href="#">Thing 1</a></li>-->
                <!--<li><a href="#">Thing 2</a></li>-->
                <!--<li><a href="#">Thing 3</a></li>-->
              <!--</ul>-->
            <!--</div>-->
            <!--<br />-->

            <div class="form-group">
              <label class="control-label" for="cityList">City Filter</label>
              <input list="cities" class="form-control" id="cityList" [(ngModel)]="cityFilter" type="text" >
              <datalist id="cities">
                <option *ngFor="let city of cities" value="{{city}}">
              </datalist>
            </div>

            <br />
            <button class="btn btn-block btn-danger" type="button" (click)="applyGlobalFilters();">Apply Global Filters</button>
          </div>
        </div>
      </div>
      <div class="col-md-1"></div>
    </div>
    <div class="row">
      <div class="col-md-1"></div>
      <div class="col-md-10">
        <div class="row">
          <h5>Crime Data Filters (Does not modify Histogram)</h5>
          <div class="col-md-2">
            <div class="form-group">
              <label class="control-label" for="focusedInput1">Incident ID</label>
              <input class="form-control" id="focusedInput1" [(ngModel)]="idFilter" type="text" >
            </div>
          </div>
          <div class="col-md-2">
            <div class="form-group">
              <label class="control-label" for="focusedInput2">Agency</label>
              <input class="form-control" id="focusedInput2" [(ngModel)]="agencyFilter" type="text" >
            </div>
          </div>
          <div class="col-md-2">
            <div class="form-group">
              <label class="control-label" for="focusedInput3">Narrative</label>
              <input class="form-control" id="focusedInput3" [(ngModel)]="narrativeFilter" type="text" >
            </div>
          </div>
          <div class="col-md-2">
            <div class="form-group">
              <label class="control-label" for="focusedInput4">Place</label>
              <input class="form-control" id="focusedInput4" [(ngModel)]="placeFilter" type="text" >
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-1"></div>
    </div>
    <div class="row">
      <div class="col-md-1"></div>
      <div class="col-md-10">
        <div class="row">
          <h5>Arrest Data Filters (Does not modify Histogram)</h5>
          <div class="col-md-2">
            <div class="form-group">
              <label class="control-label" for="focusedInput5">First Name</label>
              <input class="form-control" id="focusedInput5" [(ngModel)]="firstNameFilter" type="text" >
            </div>
          </div>
          <div class="col-md-2">
            <div class="form-group">
              <label class="control-label" for="focusedInput6">Last Name</label>
              <input class="form-control" id="focusedInput6" [(ngModel)]="lastNameFilter" type="text" >
            </div>
          </div>
          <div class="col-md-2">
            <div class="form-group">
              <label class="control-label" for="focusedInput7">Offense</label>
              <input class="form-control" id="focusedInput7" [(ngModel)]="offenseFilter" type="text" >
            </div>
          </div>
          <div class="col-md-2">
          </div>

        </div>
      </div>
      <div class="col-md-1"></div>
    </div>
    <br />
    <br />
  </div>
</div>

<div >
  <div class="col-md-8">
    <app-map-view [crimeData]="crimeData | filter : 'incident_id' : idFilter | filter: 'agency' : agencyFilter | filter : 'place' : placeFilter"
                  [arrestsData]="arrestsData | filter : 'last_name' : lastNameFilter| filter : 'first_name' : firstNameFilter | filter : 'offense' : offenseFilter"></app-map-view>
  </div>
  <div class="col-md-4">
    <app-pie-view [startDate]="startDate" [endDate]="endDate"
                  [crimeData]="crimeData | filter : 'incident_id' : idFilter | filter: 'agency' : agencyFilter | filter : 'place' : placeFilter"
                  [arrestsData]="arrestsData | filter : 'last_name' : lastNameFilter| filter : 'first_name' : firstNameFilter | filter : 'offense' : offenseFilter">
    </app-pie-view>
  </div>
  <div class="col-md-12">
    <app-histogram-view [startDate]="startDate" [endDate]="endDate"
                        [histogramData]="histogramData"></app-histogram-view>
  </div>
  <div class="col-md-8">
    <app-crime-table-view  [crimeData]="crimeData | filter : 'incident_id' : idFilter | filter: 'agency' : agencyFilter | filter : 'place' : placeFilter"></app-crime-table-view>
  </div>
  <div class="col-md-4">
    <app-arrest-table-view [arrestsData]="arrestsData | filter : 'last_name' : lastNameFilter| filter : 'first_name' : firstNameFilter | filter : 'offense' : offenseFilter"></app-arrest-table-view>
  </div>
</div>
