<div class="panel panel-default">
  <div class="panel-heading">
    <div class="pull-left" style="font-size: 1.5em;">
      Map View
    </div>

    <button class="btn btn-default pull-right" (click)="lgMapModal.show()" >Max</button>
    <div class="clearfix"></div>
  </div>
  <div class="panel-body" style="height: 40vh;overflow-y: scroll;">
    <!--<strong>StartDate</strong> <br />-->
    <!--Month: {{startDate.month}} Day: {{startDate.day}} Year: {{startDate.year}}-->
    <!--<br />-->
    <!--<strong>EndDate:</strong> <br />-->
    <!--Month: {{endDate.month}} Day: {{endDate.day}} Year: {{endDate.year}}-->
    <!--<br />-->
    <!--<strong>Time:</strong> <br /> {{startTime}} <br />-->

    <!--<iframe-->
    <!--width="100%"-->
    <!--height="100%"-->
    <!--frameborder="0" style="border:0"-->
    <!--src="https://www.google.com/maps/embed/v1/place?key=AIzaSyAvXhRiDYR_eGEjSCC0PolfUROkfiwOyvo-->
    <!--&q=Montgomery+County,MD" allowfullscreen>-->
    <!--</iframe>-->
    <!--<div *ngFor="let crime of crimeData">-->
    <!--<td>{{arrest.arrest_date}}</td>-->
    <!--<td>{{arrest.first_name}} {{arrest.last_name}}</td>-->
    <!--<td>{{arrest.offense}}</td>-->
    <agm-map
      [latitude] = "39.154743"
      [longitude] = "-77.240515"
      [zoom]="8">
      <agm-marker
        *ngFor="let m of crimeData"
        [latitude]="m?.latitude"
        [longitude]="m?.longitude"
        [label]="C"
      >
        <agm-info-window>
          <strong>{{m?.narrative}}</strong>
        </agm-info-window>
      </agm-marker>
    </agm-map>
  </div>
  <!--<sebm-google-map [latitude]="39.154743" [longitude]="-77.240515" [zoom]="zoom">-->
  <!--<sebm-google-map-marker *ngFor="let crime of crimeData" [latitude]="convertStringToNumber(crime.latitude)" [longitude]="convertStringToNumber(crime.longitude)" [label]="'M'">-->
  <!--</sebm-google-map-marker>-->
  <!--</sebm-google-map>-->
</div>

<div bsModal #lgMapModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true" >
  <div class="modal-dialog" >
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title pull-left">Large Map View</h4>
        <button type="button" class="close pull-right" (click)="lgMapModal.hide()" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="panel panel-default">
          <div class="panel-heading">
            <!--<h3 class="panel-title pull-left">-->
            <!--With short text it works great!-->
            <!--</h3>-->

            <div class="clearfix"></div>
          </div>
          <div class="panel-body" style="height: 100vh;overflow-y: scroll;">
            <!--<strong>StartDate</strong> <br />-->
            <!--Month: {{startDate.month}} Day: {{startDate.day}} Year: {{startDate.year}}-->
            <!--<br />-->
            <!--<strong>EndDate:</strong> <br />-->
            <!--Month: {{endDate.month}} Day: {{endDate.day}} Year: {{endDate.year}}-->
            <!--<br />-->
            <!--<strong>Time:</strong> <br /> {{startTime}} <br />-->
            <iframe
              width="100%"
              height="100%"
              frameborder="0" style="border:0"
              src="https://www.google.com/maps/embed/v1/place?key=AIzaSyAvXhRiDYR_eGEjSCC0PolfUROkfiwOyvo
    &q=Montgomery+County,MD" allowfullscreen>
            </iframe>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
