<div class="panel panel-danger panel-default">
  <div class="panel-heading">
    <div class="pull-left" style="font-size: 1.5em;">
      Crime Data View
    </div>

    <button class="btn btn-default pull-right"  >Max</button>
    <div class="clearfix"></div>
  </div>
  <div class="panel-body" style="height: 40vh;overflow-y: scroll;">
    <table class="table table-bordered">
      <thead>
      <tr>
        <th>Date</th>
        <th>Location</th>
        <th>Narrative</th>
        <th>Place</th>

      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let crime of crimeData">
        <td>{{crime.start_date}}</td>
        <td>{{crime.location}}</td>
        <td>{{crime.narrative}}</td>
        <td>{{crime.place}}</td>

      </tr>
      </tbody>
    </table>


  </div>
</div>
