<div class="panel panel-success panel-default">
  <div class="panel-heading">
    <div class="pull-left" style="font-size: 1.5em;">
      Histogram View
    </div>

    <button class="btn btn-default pull-right">Max</button>
    <div class="clearfix"></div>
  </div>
  <div class="panel-body" style="height: 40vh;overflow-y: scroll;">
    <!--StartDate: <br />-->
    <!--Month: {{startDate.month}} Day: {{startDate.day}} Year: {{startDate.year}}-->
    <!--<br />-->
    <!--EndDate: <br />-->
    <!--Month: {{endDate.month}} Day: {{endDate.day}} Year: {{endDate.year}}-->

    <div id="histogram_chart" [chartData]="histogram_ChartData" [chartOptions]="histogram_ChartOptions" chartType="Histogram" GoogleChart></div>
  </div>
</div>

